* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.container{
  display: flex;
  margin-top: 50px;
}
.listproduct{
  flex: 3;
  border: 3px solid rgb(57, 57, 224);
}
.product{
  flex: 2;
  border: 3px solid pink;
} 
.listproduct-header{
height: 50px;
width: 100%;
background-color: blue;
color: white;
    padding: 10px;
}
.product-header{
  height: 50px;
    width: 100%;
    background-color: pink;
    color: white;
    padding: 10px;
}
.listproduct-body{
  width: 100%;
  height:100%;
    display: flex;
    flex-direction: column;
  
}

.col-md-8{
  display: flex;
}
.card-form{
  padding: 20px;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.card-form input{
  border: 1px solid black;
  width: 60px;
}
.card-form button {
  width: 60px;
  background-color:rgb(232, 95, 45);
  color: white;
  border: 1px solid black;
}.product-body {
  width: 100%;
  padding: 10px;
}
.product-body table{
  width: 100%;
  padding: 10px;
}
.product-body tbody tr{
  border-bottom: 1px solid rgb(175, 175, 175);
}
.product-body thead tr {
  border-bottom: 1px solid rgb(175, 175, 175);
}
